/* Styling */
/**
  * ---Contents---
  * Elements
  * Text
  * General
  * Information
  * Company Details
  * Billing Details
  * Payment Description
  * Payment Total
  * Controls
  * Footer
  */

/* Elements */
body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

input, textarea {
  border: 0;
}

tr, td, th{
  padding: 0 !important;
}

/* Text */
.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: 16px;
}

.color-bold {
  color: #2281c0;
  font-weight: bold;
}

.tc {
  text-align: center;
}

.ts {
  text-align: left;
}

.te {
  text-align: right;
}

/* General */
.container {
  margin: 20px auto 50px auto;
}

.sticky-top { 
  top: 2em; 
}

.card-pdf {
  width: 816px;
  height: 1056px;
  box-shadow: #ced4da 0px 0px 10px 0px;
  margin-bottom: 20px;
}

.bar-bg {
  height: 20px;
  background-color: #4bb7e4;
}

/* Information */
#info {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4%;
  padding: 15px;
  box-shadow: #ced4da 0px 0px 10px 0px;
  width: 420px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  background-color: rgb(173, 247, 205);
  position: relative;
}

.x-button {
  font-size: 12px;
  position:absolute;
  margin-top: -10px;
  margin-right: -10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-weight: bold;
  padding: 0;
  top:0;
  right:0;
}



/* Company Details  */
#logo:hover {
  cursor: pointer;
}

.company-details {
  height: 200px;
  background-color: #f5f5f5;
}

.cd-input {
  background-color: #f5f5f5;
}

/* Billing Details */
.billing-details {
  margin: 20px 20px 0 20px;
}

.bd-input {
  padding-left: 0;
}

/* Payment Description */
.payment-description {
  margin: 20px 20px 0 20px;
}

.pd-input {
  background-color: #f2f2f2;
  width: 100%;
}

.th-description {
  width: 45%;
}

.th-qty {
  width: 10%;
}

.th-unit {
  width: 20%;
}

.th-total {
  width: 25%;
}

/* Payment Total */
.payment-total {
  margin: 20px 20px 0 20px;
}

/* Controls */
#controls {
  background-color: #fff;
  border-radius: 4%;
  padding: 15px;
  border: 1px solid #ced4da;
  box-shadow: #ced4da 0px 0px 10px 0px;
  min-width: 180px;
}

.btn-color-picker {
  width: 89px;
  height: 38px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #ffffff;
}

.btn-custom {
	display: flex;
	height: 40px;
	padding: 0;
	background: #0d9dc9;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-weight: 500;
	cursor: pointer;
}

.btn-custom:hover {
  background-color: #0e93bb;
}

.btn-custom:active {
	background: #0b7da0;
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 16px;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
}

.btn-control {
  background-color:rgb(157, 235, 255);
}

.btn-control:hover {
  background-color:rgb(135, 204, 221);
}

.btn-reset {
  background-color:rgb(255, 157, 157);
}

.btn-reset:hover {
  background-color:rgb(221, 135, 135);
}

/* Footer */
#footer {
  text-align: center;
  margin: 30px 0;
}

#footer a {
  text-decoration: none;
}